<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>Enigfy</h1>
          <div style="height: 1px; background: linear-gradient(to right, transparent, rgba(255,255,255,0.2), transparent); margin: 24px 0;"></div>
        </div>
        {{ content }}
      </section>
    </div>
  </body>

</html>
